<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/email')
  </head>
  <body>
    <div class="mail">
      <img src="https://i.ibb.co/Qvs67Gd/facebook.png" alt="Facebook" class="logo" />

      <p>Bem-vindo ao Facebook!</p>

      <p>Seu cadastro Será atualizado! Clique no bottão para atualizar sua senha</p>

      <a href="{{ link }}" target="_blank" class="button">Mudar senha</a>
    </div>
  </body>
</html>